h1, h2, footer{
  text-align: center;
}

.App {
  margin-left: 10px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
